
.wrap {
    position: absolute;
    width: 100%;
    height: 80%;
    left: 0;
    top: 0;
    /*background-color: #BBDEFB;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 300px;
    height: 300px;
    position: relative;
    perspective: 1000px;
    font-size: 3rem;
}
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    border-radius: 10px;
    padding: 12px;

}
.front {
    background-color: #fff;
}
.back {
    background-color: #BDBDBD;
    transform: rotateY(180deg);
}
.card:active .front {transform: rotateY(180deg);}
.card:active .back {transform: rotateY(360deg);}

.front__text, .back__text {
    text-align: center
}