.gray_button {
    flex-direction: row;
    margin-top: 20px;
}

.gray_button__click {
    margin: 15px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 100px;
    transition: all .2s;
    background-color: rgba(239, 239, 239, 0.75);
}

.gray_button__click:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(255, 0, 0, 0.2);
}

.gray_button__click:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.gray_button__click:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}


.gray_button__click:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
