
#click_on_plus {
    display: none;
}

#click_on_minus {
    display: none;
}

#click_on_add_dictionary {
    display: none;
}

#click_on_choose {
    display: none;
}

#click_on_settings {
    display: none;
}


